.head {
    width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    /*flex: 1;*/
    padding: 20px 120px 0px;
    box-sizing: border-box;
    max-height: 100px;
}
.head .head_search > input {
    position: relative;
    top: -4px;
    font-size: 16px;
    height: 28px;
    width: 540px;
    padding: 5px;
    border: 2px solid #e4393c;
    outline: 0;
}
.head .head_search img {
    position: relative;
    top: -5px;
    left: -40px;
}
.head .head_user {
    position: relative;
    top: 6px;
}
.head li {
    float: left;
    margin-left: 10px;
}
.head > .head_user > ul > li:first-child > a{
    padding: 3px 6px;
    background: #e4393c;
    color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #e4393c;
}
.head > .head_user > ul > li:last-child > a {
    padding: 3px 6px;
    background: #fff;
    color: #e4393c;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #e4393c;
}
.head .head_us {
    position: relative;
    top: 9px;
}
.head .head_us > ul >:first-child {
    position: relative;
    cursor: pointer;
    top:2.5px;
}
.head .head_us ul> :first-child > div {
    height: 0;
    overflow: hidden;
    position: absolute;
    top: 30px;
    left: -20px;
    transition: all .5s linear;
}
#about_us {
    position: relative;
    top: -3px;
    left: -20px;
    padding: 6px 18px 27px;
    cursor: pointer;
}
#about_us > ul {
    position: absolute;
    top: 46px;
    transition: all .5s linear;
    background: #fff;
    width: 90px;
}
.fade {
    height: 0;
    overflow: hidden;
}

